*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    

    
    
}
body{
    background: rebeccapurple ;
}

.fixed-width{
    
    background-color: aliceblue;
    width: 70%;
    position: relative ;
    height: 22rem;
    background-image: none;
    margin: 0 auto;
    margin-top: 10%;
    

}




.heading,.form_container{
    background-color: aliceblue;
}
#logo img{
    position: absolute;
    height: 100%;
    width: 47%;

}
.heading{
    margin-top: 10px;
    font-size: 25px;
    font-family: "Hahmlet" , sans-serif;
    position: absolute;
    right: 42%;
    top: 1rem;
    

}

.form_container{
    
    position: absolute;
    width: 48%;
    padding: 1em; 
    right: 2rem;
    top: 4rem;
    background-image: none;
}
.content{
    background-image: none;
}

.content .input_box{
    border-color: rgb(160, 153, 89);
    border-width: 1.5px;
    background-image: none;
}
.content label{
    
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style:normal;
    
}
.content input{
    height: 30px;
    width: 80%;
    margin: 8px 0;
    border-radius: 4px;
    border: 2px solid grey;
    background-image: none;
}


.btn{
    font-weight: 500;
    font-family: 'poppins', sans-serif;
    background-color: #2767d4;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
    background-image: none;
}
.btn:hover{
    background-color: #3ba0ff;
    box-shadow: 2px 2px 3px grey;

}
.signup_holder{
    background-image: none;
}
.signup_holder a{
    text-decoration: none;
    background-image: none;
}
.signup_holder a:hover{
    color: #3ba0ff;
    
    
}